body {
    padding: 0;
    margin: 0;
    background: #000;
    overflow-x: hidden;
    font-family: cursive;
}

#app {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}